/AssetBundle
/Assets/Unity.VisualScripting.Generated
/Assets/ILRuntime/Hotfix~/bin
/Assets/ILRuntime/Hotfix~/obj
/Assets/ILRuntime/Hotfix~/.vs
/UIElementsSchema
/UserSettings
/Library
/Logs
/Temp
/obj
/.vs
/.vsconfig
/.plastic
/*.conf
/*.csproj
/*.sln
/Assets/ILRuntime/Generated
